@(userForm: Form[controllers.api.v1.AccountsController.RegisterRequest], redirect: Option[String] = None)(implicit request: play.api.mvc.RequestHeader, messagesProvier: MessagesProvider)

@import helper.*
@import language.deprecated.symbolLiterals

<!DOCTYPE html>
<html>
<head>
    <title>Authentication</title>
</head>
<body>
<div class="p-10">
    @helper.form(action = api.v1.routes.AccountsController.register(redirect)) {
    @helper.inputText(userForm("username"), '_label -> "Username", '_help -> "This is your id.")
    @helper.inputText(userForm("email"), '_label -> "Email")
    @helper.inputPassword(userForm("password"), '_label -> "Password")
    @helper.checkbox(userForm("agreement"), '_label -> "I agree to the terms and conditions.")
    @helper.select(userForm("locale"), options = Seq("ja" -> "Japanese", "en" -> "English"), '_label -> "Locale")
    @helper.textarea(userForm("reason"), '_label -> "Reason")

    <button type="submit">Submit</button>
    }
</div>
</body>
</html>
