@(registerForm: Form[controllers.api.v1.AccountsController.RegisterRequest])(implicit request: play.api.mvc.RequestHeader, messagesProvier: MessagesProvider)

@import helper.*
@import language.deprecated.symbolLiterals

<!DOCTYPE html>
<html>
<head>
    <title>Authentication</title>
</head>
<body>
<div class="p-10">
    @helper.form(action = api.v1.routes.AccountsController.register) {
    @helper.inputText(registerForm("username"), '_label -> "Username", '_help -> "This is your id.")
    @helper.inputText(registerForm("email"), '_label -> "Email")
    @helper.inputPassword(registerForm("password"), '_label -> "Password")
    @helper.checkbox(registerForm("agreement"), '_label -> "I agree to the terms and conditions.")
    @helper.select(registerForm("locale"), options = Seq("ja" -> "Japanese", "en" -> "English"), '_label -> "Locale")
    @helper.textarea(registerForm("reason"), '_label -> "Reason")

    <button type="submit">Submit</button>
    }
</div>
</body>
</html>
